@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: white;
}

.container {
  display: flex;
  min-height: 100vh
}

.sidebar {
  width: 100px;
  background-color: #002147;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.logo {
  font-weight: bold;
  margin-bottom: 30px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  text-align: center;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 10px 0;
  border-bottom: 2px solid #FFD700;
}

.form-container {
  flex: 1;
  background-color: #b3d9f0;
  padding: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  color: #002147;
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: 800;
  
}

.btn-empresa {
  padding: 8px 16px;
  border: 2px solid #002147;
  background-color: #A8D0E6;
  color: #002147;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  font-family: "Montserrat";
}

.job-form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
 
}

.job-form label {
  font-weight: bold;
  color: #002147;
  font-family: "Montserrat";
  font-weight: 800;


}

.job-form input,
.job-form select,
.job-form textarea {
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 800;
  color: #505050;
}

.buttons {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.btn-salvar {
  background-color: #1c2c5b;
  color: white;
  font-weight: bold;
  padding: 10px 30px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.btn-cancelar {
  background-color: white;
  color: #1c2c5b;
  font-weight: bold;
  padding: 10px 30px;
  border: 2px solid #1c2c5b;
  border-radius: 25px;
  cursor: pointer;
}
